.forumElem {
    display: flex;
    justify-content: space-between;

    width: 100%;
    min-height: 100vh;
    padding: 100px;
    padding-top: 120px;
}

.forum-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 65%;
    min-height: 600px;

    box-shadow: 0px 0px 10px black inset;
}

.forum-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 30%;
    min-height: 600px;

    box-shadow: 0px 0px 10px black inset;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: white;   
    font-size: 20px;
    width: 100%;
}

ul >  a {
    text-decoration: none;
    width: 32%;
    border: 1px solid white;
    text-align: center;
}

a:visited {
    color: white
}
