*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

html {
    background-color: #000;
    min-height: 100vh;

}

.absoluteCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.no-scroll {
    overflow: hidden;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: .5s;
    background: black;

    color: white;
}

.autorisation {
    position: absolute;
    top: 17px;
    right: 30px;

    width: 40px;
    height: 40px;

    cursor: pointer;
}

#header {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    height: 80px;
}

.header-nav {
    justify-content: space-around;
    width: 60%;
}

.header-link {
    color: #fff;
    font-size: 20px;
}

.header-link:hover {
    color: #00EAC0;
    transition: .5s;
}

.header-link:hover > .header-link::after {
    width: 100%;
    height: 4px;
    background: white;
    transition: .5s;
}

.logo {
    width: 300px;
}

/* Main */
.main-background {
    min-height: 100vh;
    
    background: #0f0f10;
}

#main-info {
    flex-direction: column;
    align-items: baseline;
}

.infoBlock {
    display: flex;
    justify-content: space-between;
    width: 80%;
    min-height: 200px;
    border-radius: 20px;
    color: white;
    margin: 0 auto;
    margin-bottom: 100px;
}

.titleText {
    margin-bottom: 30px;
}

.infoText {
    font-size: 20px;
    font-weight: normal;
}

p {
    cursor: pointer;
    margin-top: 2vw;
    /*text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;*/
}

.show-hide {
    font-size: 20px;
    color: #FF3EF7;
}

.preview {
    flex-direction: column;
}

.photoZone {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.Drugphoto {
    position: relative;
    margin-top: 50px;
    width: 27%;
    min-height: 15vw;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Drugphoto > img {
    width: 100%;
    border-radius: 20px;
}

#btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: 700;
    width: 350px;
    height: 80px;
    border-radius: 40px;
    background: #039BE5;
    cursor: pointer;
}

#btn > h1 {
    font-size: 20px;
    min-width: 75%;
    padding-left: 20px;
}

.contact-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    transition: .5s;
    height: 100vh;
    margin: 0 auto;
}

.contact-block-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 20vw;
}

.contact-title {
    font-size: 50px;
    color: #fff;
}

.contact-logo {
    width: 500px;
    height: 500px;
    background-image: url("../components/images/Subtract.png");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

#btn > .logo {
    width: 50px;
}

.search {
    display: flex;
    justify-content: space-between;

    width: 80%;
    height: 130px;

    margin: 0 auto;
}

.search-input-place {
    width: 81%;
    
    position: relative;
}

#result-field {
    position: absolute;

    left: 0;
    width: 100%;
    height: 70px;
    background: white;

    font-size: 20px;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.5);
    font-style:italic;
}

.search-input {
    width: 100%;
    height: 70px;

    border: none;
    outline: none;
    padding-left: 20px;
    transition: .2s;

    font-size: 20px;

    border-radius: 10px;
}

.search-input:focus {
    border-radius: 0;
}

.search-btn {
    width: 18%;
    height: 70px;

    border: none;
    outline: none;

    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: #3700ff;
    border-radius: 10px;
    cursor: pointer;
}

.advertising {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 80%;
    min-height: 600px;
    color: white;
    margin: 0 auto;
}

.advertising-title {
    font-size: 50px;
    font-weight: 600;
}

.advertising-main {
    display: flex;
    
    width: 100%;
    height: 400px;

    background-color: #d10050;
    border-radius: 20px;
    outline: 0px solid #d10050;
    transition: .2s;
    border: none;
    cursor: pointer;
}

.advertising-main:hover {
    outline: 10px solid #d10050;
}

.a-text-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
    height: 170px;
}

.a-main-text {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-left: 40px;
}

.a-text-title {
    display: flex;
    align-items: center;
    color: rgb(159, 239, 255);

    font-size: 40px;
    font-weight: bold;
    height: 140px;
}

.a-main-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.a-main-photo > img {
    border-radius: 20px;
}

.a-text-info > button {
    background: #3700ff;
    width: 250px;
    height: 70px;
    border: none;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    font-size: 17px;
    border-radius: 20px;
    cursor: pointer;
    transition: .2s;
}

.a-text-info > button:hover {
    background: black;
}

/* News */

.pos-rel {
    position: relative;
}

.newsBlock {
    position: absolute;
    justify-content: space-around;
    padding: 10px;
    padding-top: 0;
    flex-wrap: wrap;
    top: 60px;
    left: 0;
    background: rgb(19, 19, 19);
    z-index: 2;
}

.newsBlock > div {
    cursor: pointer;
    margin-top: 15px;
}

.dark-text {
    position: relative;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
}

.news-block {
    height: 300px;
    border-radius: 20px;
    background: black;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.news-block-large {
    width: 66%;
}

.news-block-small {
    width: 32.5%;
}

.news-title {
    font-size: 20px;
    text-shadow: 2px 2px 4px #000;
}

.likes-dislikes {
    display: flex;
    font-size: 10px;
}

.likes-dislikes > div > .logo {
    width: 15px;
    cursor: pointer;
}

.likes {
    margin: 0px 30px 0px 7px;
    font-family: normal;
    font-weight: 100;
}

.pill-news {
    z-index: 1;
}

.pill-news > img {
    width: 50px;
}

#large-pill > img {
    transform: rotate(57deg);
    width: 110px;
}

/* Laws */

#first-law {
    margin-top: 90px;
}

.laws-title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    color: #FF3EF7;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}

.laws-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.lawLi {
    flex-direction: column;
    margin-top: 0;
}

ol {
    list-style: none;
}

.law-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.list-number {
    color: #FF3EF7;
    font-weight: bold;
    font-size: 30px;
}

.law-info {
    width: 95%;
    color: #00EAC0;
    font-size: 18px;
}

.lawName {
    width: 100%;
    min-height: 50px;
    text-align: center;
    color: #FF3EF7;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Form */

.formZone {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.241);
    z-index: 1000;
}

.form {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 20px;
    
  }
  
  #heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: #00ffff;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: rgb(255, 255, 255);
  }
  
  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }
  
  .button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(163deg, #00ffff 10%, #6423ff 90%);
    color: rgb(255, 255, 255);
  }
  
  .button1:hover {
    background-image: linear-gradient(163deg, #9b41fc 20%,#e74efff1 80%);
    color: #ffffff;
    box-shadow: 1px 1px 10px 1px #ffffff;
  }
  
  .button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(163deg,#13bded 0%,#6423ff 100%);
    color: rgb(255, 252, 252);
  }
  
  .button2:hover {
    background-image: linear-gradient(163deg, #9b41fc 20%, #e74efff1 80%);
    color: #ffffff;
    box-shadow: 1px 1px 10px 1px #ffffff;
  }
  
  .button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(163deg, #0891b2 0%, #6423ff 100%);
    color: rgb(255, 255, 255);
  }
  
  .button3:hover {
    background-image: linear-gradient(163deg, #a00000fa 0%, #d10050 100%);
    color: rgb(255, 255, 255);
  }
  
  .card {
    background-image: linear-gradient(163deg, #13bded 0%, #3700ff 100%);
    border-radius: 22px;
    transition: all .3s;
  }
  
  .card2 {
    border-radius: 0;
    transition: all .2s;
  }
  
  .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }
  
  .card:hover {
    box-shadow: 0px 0px 30px 1px #6423ff;
  }

  .closeForm {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }

/* Stories */
  
.placeholder {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #505050;
    font-size: 30px;
    font-style: italic;
    
}
  
.stories-list-elem.active {
    border: 1px solid #00EAC0;
}

.storiesMain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    color: white;
    width: 100%;
    height: 700px;
}

.storiesBlock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 40px;
    width: 100%;
    min-height: 500px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.story-text {
    width: 90%;
    min-height: 500px;
}

.story-title {
    width: 100%;
    height: 100px;

    font-size: 30px;
    font-weight: bold;
    color:#FF3EF7 ;
}

.story-info {
    color:#00EAC0;
    font-size: 18px;
}

.quote {
    color:#FF3EF7 ;
    font-size: 23px;
    font-weight: bold;
    font-style: italic;
}

.stories-list {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.stories-list-elem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    width: 90%;
    margin-top: 20px;
    height: 70px;
    background-color: black;
    outline: 0;
    color: #00EAC0;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.stories-list-elem > div {
    font-size: 13px;
    margin-top: 3px;
    color: #FF3EF7;
}

/* Forum */

.forumElem {
    display: flex;
    justify-content: space-between;

    width: 100%;
    min-height: 100vh;
    padding: 100px;
    padding-top: 120px;
}

.forum-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 65%;
    max-height: 700px;
    background: #121212;
    box-shadow: 0px 0px 10px black inset;
    overflow-y: auto;
}

.forum-nav {
    display: flex;
    flex-direction: column;

    width: 30%;
    max-height: 700px;

    box-shadow: 0px 0px 10px black inset;
}

.forum-nav-choose {
    display: flex;
    justify-content: space-between;
}

.forum-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 50px;
    color: white;
}

.forum-link:active {
    border: 1px solid white;
}

#place-for-list {

    max-height: 500px;

    overflow-x: auto;

    width: 100%;
}

.create-new-theme {
    position: absolute;
    top: calc(100% - 100px);
    left: 0;

    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#create-new-theme {
    width: 80%;
    height: 40px;
    border: 0;
    outline: 0;
    background-color: #00ffff;
    border-radius: 20px;

    font-size: 20px;
    font-family: "Open Sans";

    cursor: pointer;
}

#create-new-theme:hover {
    transition: .2s;
    
    background-color: #1affff;
    box-shadow: 0px 0px 10px #16ffff;
}

.forum-nav-list {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    background: #121212;
    box-shadow: 0px 0px 10px black inset;
}

.forum-tree {
    flex-direction: column;
    width: 70%;
    margin: 100px auto;
}

footer {
    width: 100%;
    min-height: 20vh;
    margin-top: 50px;
    background: black;
}

.stories {
    width: 100%;
    height: 600px;
    background-color: red;
}
.users-questions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 644px;
    padding-bottom: 20px;
}

.users-inp {
    width: 90%;
    background-color: black;
    border: 0;
    height: 50px;
    border-radius: 25px;
    margin: 0 auto;
    padding-left: 20px;
    font-family: "Open Sans", sans-serif;;
    font-size: 18px;
    color: white;
}

.inp_placeholder_text {
    margin: 20px 0px 5px 5px;
    font-size: 14px;
    color: white
}

.centerBtn {
    width: 90%;
    margin: 50px 0 10px 0;
}

#telegram_id {
    cursor: no-drop;
}

.saveData {
    width: 40%;
    height: 60px;
    border-radius: 20px;
    font-size: 25px;
    background-color: #00aeff;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.appointment-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    min-height: 40vh;
    background-color: #E5EBED;
    
    border-radius: 20px;
}

.adv-title {
    color: black;
    width: 100%;
    margin-top: 50px;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    text-align: center;
}

.adv-title > span {
    color: #FF3EF7ed
}

.input-zone {
    width: 80%;
    min-height: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    margin: 0 auto;
    padding-left: 15px;
    padding-top: 5px;
    border-radius: 10px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    
    margin-top: 50px;
    
}

.adv-input {
    border-radius: 10px;
    min-height: 40px;
    border: 0;
    outline: 0;
    font-size: 16px;
}

.cross {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.btn-place {
    width: 100%;
    height: 150px;
}

.saveData:hover {
    transition: .2s;

    box-shadow: 0px 0px 20px #00ffff;
}

.confirm-btn {
    width: 250px;
    height: 60px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    background-color: #00aeff;
    font-size: 18px;
    cursor: pointer;
}

.confirm-btn:hover {
    transition: .2s;
    background-color: #0066ff;
    box-shadow: 0px 0px 10px #00aeff;
}

.users-inp:focus {
    border: 0;
    outline: 0;
}

#create-question {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 / 20%);
    
}

.create {
    width: 600px;
    height: 500px;

    border: 1px solid;
}

#place-for-messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 573px;
    color: white;
    margin-bottom: 30px;
}

.user-message {
    width: 90%;
    display: flex;
    align-items: center;

    margin: 0 auto;
    height: 50px;
    border-radius: 15px;
    background: black;
    padding-left: 20px;
    margin-bottom: 10px;

}

.FaQ {
    width: 100%;
    height: 600px;
    background-color: blue;
}

/* SLider */

.scrollableContainer {
    position: relative;
    width: 90%;
    height: 18rem;
    margin: 0 auto;

    display: flex;
    align-items: center;

    user-select: none;
}
  
.list {
    display: flex;
    overflow-x: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    cursor:grab;
}

.shadowItem {
    display: flex;
    width: 33%;
    height: 12.5rem;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    flex-shrink: 0;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 12.5rem;
    background-color: aquamarine;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    flex-shrink: 0;
}

.item-photo {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.item-info {
    width: 250px;
}

.item-info-title {
    font-size: 26px;
}

.item-info-text {
    margin-top: 10px;
    font-size: 15px;
}

.item:not(:last-child) {
    margin-right: 50px;
}

.shadowWrapper {
    width: 30px;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
}

.leftShadowWrapper {
    left: 0;
}

.rightShadowWrapper {
    right: 0;
}

.shadow {
    position: absolute;
    box-shadow: 0 0 30px -8px #232628;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: -25px;
    width: 24px;
    height: 80%;
    border-radius: 50%;
    transform: translateY(-50%);
}

.leftShadow {
    box-shadow: 0 0 30px -8px #232628;
    left: -25px;
}

.rightShadow {
    box-shadow: 0 0 30px -8px #232628;
    right: -25px;
}

.shadow--hidden {
    display: none;
}

.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 2; 
}

.buttonLeft {
    left: -20px;
}

.buttonRight {
    right: -20px;
}

.button--hidden {
    display: none;
}
  

/* User Page */

.userPage {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 100vh;
}

.userInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 27vh;
    margin-top: 150px;
    background-color: #171717;
    padding-top: 3vh;
    padding-left: 3vh;
    transition: .5s;
    border-radius: 30px;
}



.forum-photo-place {
    margin-right: 20px;
}

.userUser {
    display: flex;
}

.userPhoto {
    width: 220px;
    height: 220px;
    
    border-radius: 50%;
}
    
.space {
    width: 60px;
}

.userData {
    width: 70%;
    height: 20px;
}

.userDescription {
    color: white; 
    margin-top: 20px;
}

.userInput {
    flex-direction: column;
    margin-top: 20px;
    padding: 0px;
    padding-bottom: 40px;
    width: 40%;
    /* height: 20vh; */
}

.user__input {
    width: 100%;
    height: 60px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 20px;
    background: black;
    box-shadow: 0px 0px 10px black;
    color: white
}

.logout {
    width: 40px;
    height: 40px;

    position: absolute;
    top: 30px;
    right: 30px;
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 10px;
}

.logout:hover {
    transition: .2s;
    background-color: #2c2c2c;
}

.txtarea {
    padding-top: 10px;
    justify-content: flex-start;
    height: 300px;
}

textarea {
    border-radius: 0px;
    margin-top: 5px;
    resize: none;
    width: 95%;
    height: 300px;

    border: 0;
    outline: 0;

    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.app-fix {
    width: 70%;
    font-size: 20px;
    margin: 40px auto;
}

.userName {
    display: flex;
    align-items: center;
    color: white;
    font-size: 50px
}

#secondName {
    margin-left: 10px;
}

/* Scroll */

::-webkit-scrollbar {
    width: 10px; 
    background-color: black; 
}

::-webkit-scrollbar-thumb {
    background-color: #FAD225;  
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FFD700;
}

.forum-list {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.forum-list-elem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-left: 20px;
    width: 90%;
    margin-top: 20px;
    height: 70px;
    background-color: black;
    outline: 0;
    color: #00EAC0;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.forum-list-elem > div {
    font-size: 13px;
    margin-top: 3px;
    color: #FF3EF7;
}

.hideInfo {
    position: absolute;
    top: calc(100% - 40px);
    width: 100%;
    left: 0;
    border-radius: 0px 0px 10px 10px;
    height: 40px;
    background-color: #171717;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
    font-size: 15px;
}

.hideInfo:hover {
    background-color: #222121;
    transition: .2s;
}

.hidden {
    display: none;
}

.admin-tool {
    margin-top: 50px;
    max-height: 10000px;
    
    padding-bottom: 50px;
}

#table {
    margin-top: 20px;
}

.tableName {
    width: 90%;
    margin: 0 auto;
}

.customer-list {
    display: flex;
    font-size: 20px;
    width: 90%;
    height: 70px;
    margin: 0 auto;
    margin-top: 10px;
    background: black;
    color: white;
}

.table-elem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 33%;
}

.first-row {
    background: #4e4e4e;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

/* Support Page */

.support-page {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh
}

.support-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 70vh;
    background:rgb(22, 22, 22);
}

.form-title {
    width: 90%;
    margin: 0 auto;

    font-size: 35px;
    color: white;
    text-align: center;
}

.form-title-small {
    font-size: 17px;
    margin: 15px 0 0 0;
}

/* Media */

.mobile {
    display: none;
}

#create-appointment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: rgb(0, 200, 17);
    font-size: 15px;
    margin-left: 40px;
    width: 180px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}


@media (max-width: 1343px) {
    .container {
        width: 1000px;
    }
}

@media (max-width: 1180px) {
    .container {
        width: 767px;
    }

    .logo {
        width: 150px;
    }

    .header-link {
        font-size: 15px;
    }
}

@media (max-width: 760px) {
    header {
        position: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        width: 100%;
    }
    #header {
        display: none;
    }
    .autorisation {
        display: none;
    }
    .mobile-header {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 0 auto;

        font-size: 50px;
    }
    .contact-block {
        flex-direction: column;

        height: 75vh;
        width: 90%;
        margin-top: 70px;
    }
    #btn {
        width: 300px;
    }
    .contact-block-text {
        height: 240px;
        width: 100%;
    }
    .contact-title {
        font-size: 40px;
        
    }
    .contact-logo {
        width: 90vw;
        height: 90vw;
        margin: 0 auto;
    }
    .search {
        margin-top: 40px;
        width: 90%;
    }
    .search-desktop {
        display: none;
    }
    .mobile-search {
        display: block;
    }
    .search-input {
        font-size: 20px;
    }
    .search-btn > .dd {
        display: none;
    }
    .mobile-search {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile-search > img {
        width: 40px
    }
    
    .advertising {
        min-height: 500px;
        width: 90%;
    }
    .advertising-main {
        flex-direction: column;
        margin-top: 40px;
        height: 900px;
        margin-bottom: 30px;
    }
    .a-main-text {
        width: 100%;
    }
    .advertising-title {
        font-size: 40px;
    }
    .a-text-title {
        font-size: 40px;
    }
    .a-text-info {
        font-size: 20px;
        width: 90%;
        height: 200px;
    }
    .a-main-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 700px;
    }
}